# for maintaining requirements.txt; `pipreqs --encoding=utf8 --print`
pipreqs==0.5.0
python-dotenv==1.0.0
pre-commit==4.0.1

# Streamlit release notes: https://docs.streamlit.io/develop/quick-reference/release-notes
streamlit==1.39.0
pandas==2.2.3 # optional, used for Streamlit tables

openai==1.30.1 # optional, for chat UI demo purposes
tiktoken==0.7.0 # optional, for counting tokens, pricing