# for maintaining requirements.txt; `pipreqs --encoding=utf8 --print`
pipreqs==0.5.0

streamlit==1.34.0
python-dotenv==1.0.0

pandas==2.2.0 # optional, used for Streamlit tables
openai==1.30.1 # optional, for chat UI demo purposes
tiktoken==0.7.0 # optional, for counting tokens, pricing