# for maintaining requirements.txt; `pipreqs --encoding=utf8 --print`
pipreqs==0.4.13

streamlit==1.31.1
python-dotenv==1.0.0

pandas==2.0.3 # optional, used for Streamlit tables
openai==1.12.0 # optional, for chat UI demo purposes
tiktoken==0.6.0 # optional, for counting tokens, pricing